<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.datasource">java:comp/env/e-book</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <mapping class="Entity.BookEntity"/>
    <mapping class="Entity.OrderitemEntity"/>
    <mapping class="Entity.OrderlistEntity"/>
    <mapping class="Entity.UserEntity"/>
  </session-factory>
</hibernate-configuration>